.speedDial {
  /* border: 5px solid yellow; */
  position: fixed;
  right: 3vmax;
  top: 1vmax;
  color: wheat;
}
.speedDial:hover{
  /* border: 2px solid var(--rd); */
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
  /* border: 2px solid yellow; */
}
