.speedDial {
  /* border: 5px solid yellow; */
  position: fixed;
  right: 3vmax;
  top: 1vmax;
  color: wheat;
}
.speedDial:hover{
  /* border: 2px solid var(--rd); */
}
.MuiFab-label{
  width: 49px !important;
  height: 49px  !important;
}
.speedDialIcon {
  width: 44px;
  height: 46px;
  border-radius: 100%;
  /* border: 2px solid yellow; */
}
