:root {
  --blk: #262222;
  --white: #ffffff;
  --gren:#25914b;
  --rd:rgb(199, 54, 54);
  --hovergrey:rgb(137, 137, 137);
  --back:rgb(231, 231, 231);
}
* {
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  /* background-color: rgb(231, 231, 231); */

}
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb {
	/* background: linear-gradient(transparent, #30ff00); */
	background: rgb(165, 165, 165);
	border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
	background: rgb(105, 105, 105);
}

body {
  /* cursor: url("./images/cursor.png"), auto; */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.greenColor {
  color: green !important;
}
.redColor {
  color: red !important;
}
